@model MAXI_PEZ.Models.PROVEEDORES

@{
    ViewBag.Title = "Delete";
}
<div class="container media">
    <div class="card mx-auto mt-3 col-md-10">
        <div class="card-header bg-black"><b>Eliminar Proveedor</b></div>
        <div class="card-body ">
            <center>

                <h3>¿Estás seguro que quieres eliminar este Proveedor?</h3>
                <br />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Primer_Nombre)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Primer_Nombre)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Segundo_Nombre)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Segundo_Nombre)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Primer_Apellido)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Primer_Apellido)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Segundo_Apellido)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Segundo_Apellido)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Empresa)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Empresa)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Direccion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Direccion)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Telefono)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Telefono)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Correo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Correo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Fecha_Nacimiento)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Fecha_Nacimiento)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-3">
                            <input type="submit" value="Eliminar" class="btn btn-primary btn-block bg-danger-gradient" />
                        </div>
                    </div>
                }
                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </center>
        </div>
    </div>
</div>