@model MAXI_PEZ.Models.PRODUCTOS

@{
    ViewBag.Title = "Delete";
}

<div class="container media">
    <div class="card mx-auto mt-3 col-md-10">
        <div class="card-header bg-black"><b>Eliminar Productos</b></div>
        <div class="card-body ">
            <center>

                <h3>¿Estás seguro que quieres eliminar este Producto?</h3>
                <br />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Nombre_Producto)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nombre_Producto)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Precio)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Precio)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-3">
                            <input type="submit" value="Eliminar" class="btn btn-primary btn-block bg-danger-gradient" />
                        </div>
                    </div>
                }     
                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </center>
    </div>
</div>
</div>
